<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Test of Result</title>
    <style>
        body {
            background-color: beige;
        }
        em {
            color: brown;
        }
    </style>
</head>
<body>


    <table border="1" width="80%">
        <tr> <td colspan="4">select * from Chart </td></tr>
        <tr  bgcolor="#f0f8ff"> <td>病歷號碼</td>  <td>姓 名</td> <td>身份證號</td><td>生日</td></tr>
        {% for foo in charttb %}
            <tr> <td>{{ foo.chart_no }} </td> <td>{{ foo.pt_name }} </td> <td>{{ foo.id_no }} </td> <td>{{ foo.birth_date }} </td>
            {% empty %}
            <tr><td> DataBase Connect Error !!</td></tr>
        {% endfor %}
        <tr> <td colspan="2">執行時間 : {{current_time}}  </td></tr>
    </table>

</body>
</html>